.footer {
  background: url("../images/picture/snow.png") no-repeat;
  background-size: cover;
  &__trademark {
    font-size: 14px;
    max-width: 1440px;
    margin: 0 auto;
    border-top: 1px solid rgba($white,0.4);
  }

  &__socials {
    .icon {
      margin-right: 10px;
      display: flex;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }

      svg {
        path {
          transition: fill 0.3s ease;
          fill: $white;
        }
      }

      @media (hover: hover) {
        &:hover {
          svg {
            path {
              fill: $button;
            }
          }
        }
      }
    }
  }

  &__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotateY(-180deg);
  }
  &__item{
    margin-right: 3%;
    &:last-child{
      margin-right: 0;
    }
  }
}