<section class="testimonials col align-items-center pt-100 pb-100">
    <div class="intro-bg">
        <picture class="d-flex">
            <img src="./assets/images/picture/testimonials-background.jpg" class="img-fluid img-thumbnail"
                 alt="Shop Background image">
        </picture>
    </div>
    <div class="container h-100 ">
        <h2 class="mb-5 text-center">Reviews</h2>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="testimonials__item swiper-slide d-flex-column-center">
                    <div class="testimonials__item__image d-flex">
                        <img src="./assets/images/picture/profile/Angrboda.jpg" alt="Angrboda">
                    </div>
                    <div class="col-sm-8 col-sm-offset-2 d-flex-column-center">
                        <h5 class="mb-3 text-center">Angrboda</h5>
                        <blockquote>
                            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur. !</p></blockquote>
                    </div>
                </div>
                <div class="testimonials__item swiper-slide d-flex-column-center">
                    <div class="testimonials__item__image d-flex">
                        <img src="./assets/images/picture/profile/Atreus.jpg" alt="Atreus">
                    </div>
                    <div class="col-sm-8 col-sm-offset-2 d-flex-column-center">
                        <h5 class="mb-3 text-center">Atreus</h5>
                        <blockquote>
                            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur. !</p></blockquote>
                    </div>
                </div>
                <div class="testimonials__item swiper-slide d-flex-column-center">
                    <div class="testimonials__item__image d-flex">
                        <img src="./assets/images/picture/profile/Durlin.jpg" alt="Durlin">
                    </div>
                    <div class="col-sm-8 col-sm-offset-2 d-flex-column-center">
                        <h5 class="mb-3 text-center">Durlin</h5>
                        <blockquote>
                            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur. !</p></blockquote>
                    </div>
                </div>
                <div class="testimonials__item swiper-slide d-flex-column-center">
                    <div class="testimonials__item__image d-flex">
                        <img src="./assets/images/picture/profile/Freya.jpg" alt="Freya">
                    </div>
                    <div class="col-sm-8 col-sm-offset-2 d-flex-column-center">
                        <h5 class="mb-3 text-center">Freya</h5>
                        <blockquote>
                            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur. !</p></blockquote>
                    </div>
                </div>
                <div class="testimonials__item swiper-slide d-flex-column-center">
                    <div class="testimonials__item__image d-flex">
                        <img src="./assets/images/picture/profile/Kratos.jpg" alt="Kratos">
                    </div>
                    <div class="col-sm-8 col-sm-offset-2 d-flex-column-center">
                        <h5 class="mb-3 text-center">Kratos</h5>
                        <blockquote>
                            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur. !</p></blockquote>
                    </div>
                </div>
                <div class="testimonials__item swiper-slide d-flex-column-center">
                    <div class="testimonials__item__image d-flex">
                        <img src="./assets/images/picture/profile/Mimir.jpg" alt="Mimir">
                    </div>
                    <div class="col-sm-8 col-sm-offset-2 d-flex-column-center">
                        <h5 class="mb-3 text-center">Mimir</h5>
                        <blockquote>
                            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur. !</p></blockquote>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>