<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/vendor/normalize.min.css">
    <link rel="stylesheet" href="./assets/libs/bootstrap5/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/styles.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap" rel="stylesheet">

</head>
<body>
@@include_once('./template-parts/header.html')

<section class="intro container-fluid pt-after-header pb-80 justify-content-end">
    <div class="intro-bg">
        <picture class="d-flex">
            <source type="image/png" media="(min-width: 1921px)"
                    srcset="./assets/images/picture/intro/intro-bg-2560.png">
            <source type="image/png" media="(min-width: 1601px)"
                    srcset="./assets/images/picture/intro/intro-bg-1920.png">
            <source type="image/png" media="(min-width: 1441px)"
                    srcset="./assets/images/picture/intro/intro-bg-1600.png">
            <source type="image/png" media="(min-width: 1280px)"
                    srcset="./assets/images/picture/intro/intro-bg-1440.png">
            <source type="image/png" media="(min-width: 1025px)"
                    srcset="./assets/images/picture/intro/intro-bg-1280.png">
            <source type="image/png" media="(min-width: 769px)"
                    srcset="./assets/images/picture/intro/intro-bg-1024.png">
            <source type="image/png" media="(min-width: 574px)" srcset="./assets/images/picture/intro/intro-bg-768.png">
            <source type="image/png" media="(min-width: 300px)" srcset="./assets/images/picture/intro/intro-bg-576.png">
            <img src="./assets/images/picture/intro/intro-bg-1920.png" class="img-fluid img-thumbnail"
                 alt="Intro image">
        </picture>
    </div>
    <div class="container container-increased h-100 d-flex align-content-xxl-between">
        <div class="intro__left d-flex-column">
            <h1 class="intro__title">The greatest heroes from across nine realms,
                fighting for a future they believe in.</h1>
            <p class="text-increased">A darker and more primitive world.
                From the marble and orderly columns of Olympus to the forests, this is a new realm, with its own species
                of creatures, monsters and gods.</p>
            <div class="btn-wrapper d-flex mt-5">
                <button class="btn btn-main">
                    Buy now
                </button>
            </div>
        </div>
        <div class="intro__right d-flex-align-bottom">
            <picture class=" intro__right__image d-flex">
                <source type="image/png" media="(min-width: 2000px)"
                        srcset="./assets/images/picture/heroes-2560.png">
                <source type="image/png" media="(min-width: 769px)"
                        srcset="./assets/images/picture/heroes.png">
                <source type="image/png" media="(min-width: 480px)" srcset="./assets/images/picture/heroes-768.png">
                <source type="image/png" media="(min-width: 300px)" srcset="./assets/images/picture/heroes-440.png">
                <img src="./assets/images/picture/heroes.png" class="img-fluid img-thumbnail"
                     alt="Man and his son">
            </picture>
        </div>
    </div>
    <div class="intro__blur">
        <picture class="d-flex">
            <source type="image/png" media="(min-width: 2000px)"
                    srcset="./assets/images/picture/intro-blur-2560.png">
            <source type="image/png" media="(min-width: 769px)"
                    srcset="./assets/images/picture/intro-blur.png">
            <source type="image/png" media="(min-width: 300px)" srcset="./assets/images/picture/intro-blur-768.png">
            <img src="./assets/images/picture/intro-blur.png" class="img-fluid img-thumbnail"
                 alt="Bottom shadow">
        </picture>
    </div>
</section>
<section class="video pt-100 pb-100 d-flex-column-center">
    <div class="intro-bg video-bg">
        <picture class="d-flex">
            <img src="./assets/images/picture/video-bg.jpg" class="img-fluid img-thumbnail"
                 alt="Intro image">
        </picture>
    </div>
    <div class="container h-100 d-flex-column-center justify-content-center">
        <h2 class="video__title text-center">
            Embark on an epic and heartfelt journey as Kratos and Atreus struggle with holding on and letting go
        </h2>
        <div class="video__content">
            <video class="video-control"
                   controls
                   width="30vw" height="30vh"
                   poster="assets/images/picture/video-poster.jpg">
                <source src="./assets/video/trailer.mp4"
                        type="video/mp4">
            </video>
        </div>
    </div>
</section>

<section id="buy-god-of-war" class="shop pt-100 pb-100 container">
    <h2 class="text-center">Buy God of War Ragnarök</h2>

    <div class="shop__items pt-30 w-25">
        <div class="shop__item">
            <picture class="d-flex">
                <img src="./assets/images/picture/launch-edition.jpg" class="img-fluid img-thumbnail"
                     alt="Launch Edition image">
            </picture>
            <h4>God ofWar Ragnarok</h4>
            <p>The standard edition comes with Kratos Risen Snow Armor and Atreus Risen Snow Tunic as a preorder bonus.</p>
            <div class="shop__item__price d-flex align-items-center">
                <button class="btn btn-main">
                    Buy now
                </button>
                <span class="price h3"> $69.99 </span>
            </div>
        </div>
    </div>
</section>

@@include_once('./template-parts/footer.html')

<script src="./assets/libs/bootstrap5/bootstrap.bundle.min.js"></script>
<script src="./assets/js/scripts.min.js"></script>
</body>
</html>