ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

b {
  color: $black;
}

h1, h2, h3 {
  margin: 0 0 30px;
}

p,.text {
  font-family: $inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
}
.text-increased{
  font-size: 18px;
}

h1, .h1 {
  font-family: $cinzel;
  font-size: 54px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 20px;
  width: 100%;
}

h2, .h2 {
  font-size: 46px;
  line-height: 1.2;
  font-weight: 700;
}

h3, .h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.38;
}

h4, .h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.54;
  display: flex;
  margin-bottom: 20px;
}
h5, .h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.54;
  display: flex;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  transition: color 0.3s linear;
}


.btn, button {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-transform-none {
  text-transform: none;
}

.text-center {
  text-align: center;
}
.content{
  font-family: $inter;
  h5,.h5{
    font-family: $cinzel;
  }
  ul {
    padding: 10px 16px;
    max-width: 720px;

    li {
      padding-left: 16px;
      position: relative;
      margin-bottom: 3px;

      &::after {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        transform-origin: top;
        top: 9px;
        left: 0;
        border-radius: 50%;
        background-color: $white;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    ~ p {
      margin-top: 0;
    }
  }

  ol {
    padding: 40px 0 40px 34px;
    margin: 0;

    li {
      position: relative;
      margin-bottom: 3px;
      padding-left: 8px;
    }
  }

  ol:last-child, ul:last-child {
    padding-bottom: 0;

    ~ p {
      padding-top: 40px;
    }
  }

}


@media screen and (max-width: 1250px) {
}

@media screen and (max-width: 1024px) {
  h1, .h1 {
    font-size: 30px;
  }
  h2, .h2 {
    font-size: 26px;
  }
  h3, .h3 {
    font-size: 22px;
  }
  .h4, h4{
    font-size: 18px;
  }
  .h5, h5{
    font-size: 14px;
  }
  h3, h4, h5, h6 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  h1, .h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  h3, .h3 {
    font-size: 16px;
  }
}