//Fonts:
$montserrat : 'Montserrat', sans-serif;
//Colors:
$white: #fff;
$black: #101820;
$content: #1B222A;
$dark-black: #1B222A;
$violet : #2C3173;
$violet-hover : #595fc0;
$dark-grey: #2D343B;
$gray: #C9C9C9;
$red: #CC2F38;
$red-hover: #d9595f;
$pink: #FAECEC;