//Fonts:
$montserrat: 'Montserrat', sans-serif;
$inter: 'Inter', sans-serif;
$cinzel: 'Cinzel', serif;
//Colors:
$white: #fff;
$black: #101820;
$bg: #16161A;
$button: #5092D2;
$button-hover: #3480cb;
$card-bg: #27272E;

// Gallery
$primary-color  : #ed1b28;
$secondary-color  : #2b2c36;

// Scroll Bar Styles
$dark-black: #1B222A;
$gray: #C9C9C9;